{%load static %}
<!doctype html>
<html lang="en">
<head>
    <title>DAWUD HOTEL RESORT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "css.html" %}

    
</head>
<body class="front" data-spy="scroll" data-target="#top-inner" data-offset="201">
<div id="main">
    <div class="search-wrapper">
        <div class="container">
            <div class="search-inner clearfix">
                <div class="search-field">
                    <input type="text" class="form-control" value="" placeholder="Enter Your Search...">
                </div>
                <a href="#" class="search-btn search-close"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
  <!--================Header Area =================-->
  {% include "header.html" %}
  <!--================Header Area =================-->
  {% block banner %} 
  {% endblock banner %} 
  
  {% block content %} 
  {% endblock content %} 

   <!--================ start footer Area  =================-->	
   {% include "footer.html" %}
   <!--================ End footer Area  =================-->
<!-- <div id="loader" class="loader-holder">
        <div class="block"><img src="images/hearts.svg" width="100" alt="loader"></div>
    </div> -->

</div>

{% include "js.html" %}

</body>
</html>