{% extends "base.html" %} {%load static %} {% block content %} 

     <!--================Breadcrumb Area =================-->
     <section class="breadcrumb_area">
        <div class="overlay bg-parallax" style="background: url('{{ header_image.header_image.url }}') no-repeat center/cover; background-attachment: fixed;" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="page-cover text-center">
                <h2 class="page-cover-tittle">Contact Us</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Contact Us</li>
                </ol>
            </div>
        </div>
    </section>
    <!--================Breadcrumb Area =================-->
    <!-- Add Leaflet CSS and JS links -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!--================Contact Area =================-->
    <section class="contact_area section_gap">
        <div class="container">
            <div id="mapBox1" class="mapBox" style="margin-bottom: 250px; padding-bottom: 100px;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1573147.7480448114!2d-74.84628175962355!3d41.04009641088412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25856139b3d33%3A0xb2739f33610a08ee!2s1616%20Broadway%2C%20New%20York%2C%20NY%2010019%2C%20Amerika%20Birle%C5%9Fik%20Devletleri!5e0!3m2!1str!2str!4v1646760525018!5m2!1str!2str" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="contact_info">
                        <div class="info_item">
                            <i class="lnr lnr-home"></i>
                            <h6>{{contact_info.address}}</h6>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-phone-handset"></i>
                            <h6><a href="#">{{contact_info.phone_number}}</a></h6>
                            <p>{{contact_info.phone_number}}</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
                            <h6><a href="#">{{contact_info.email}}</a></h6>
                            <p>Send us your query anytime!</p>
                        </div>
                    
                            <a href="{{contact_info.facebook}}"><i class="fa fa-facebook"></i></a>
                            <a href="{{contact_info.phontwittere_number}}"><i class="fa fa-twitter"></i></a>
                            <a href="{{contact_info.instagram}}"><i class="fa fa-instagram"></i></a>
                            <a href="{{contact_info.youtube}}"><i class="fa fa-youtube"></i></a>
                            <a href="{{contact_info.linkedin}}"><i class="fa fa-linkedin"></i></a>
                        
                     
               
                    </div>
                </div>
                <div class="col-md-9">
                    <form class="row contact_form" action="{% url 'hotel:contact_us' %}" method="post" id="contactForm" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address">
                            </div>
                           
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Enter Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" value="submit" class="btn theme_btn button_hover">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--================Contact Area =================-->
           <!--================Contact Success and Error message Area =================-->
           <div id="success" class="modal modal-message fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-close"></i>
                        </button>
                        <h2>Thank you</h2>
                        <p>Your message is successfully sent...</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modals error -->

        <div id="error" class="modal modal-message fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-close"></i>
                        </button>
                        <h2>Sorry !</h2>
                        <p> Something went wrong </p>
                    </div>
                </div>
            </div>
        </div>
        <!--================End Contact Success and Error message Area =================-->
         <!--gmaps Js-->
         <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
         <script src="{% static 'js/gmaps.min.js' %}"></script>
         <!-- contact js -->
         <script src="{% static 'js/jquery.form.js' %}"></script>
         <script src="{% static 'js/jquery.validate.min.js' %}"></script>
         <script src="{% static 'js/contact.js' %}"></script>
         <script src="{% static 'js/custom.js' %}"></script>
         <script>
            // Get map data attributes
            var mapElement = document.getElementById('mapBox');
            var lat = parseFloat(mapElement.getAttribute('data-lat'));
            var lon = parseFloat(mapElement.getAttribute('data-lon'));
            var zoom = parseInt(mapElement.getAttribute('data-zoom'));
        
            // Initialize the map
            var map = L.map('mapBox').setView([lat, lon], zoom);
        
            // Add a tile layer (you can change the URL to a different map provider)
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: 'Map data © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
        
            // Add a marker with popup
            var marker = L.marker([lat, lon]).addTo(map);
            var popupContent = mapElement.getAttribute('data-info');
            if (popupContent) {
                marker.bindPopup(popupContent).openPopup();
            }
        </script>
        
{% endblock %}
