{%load static %}
<footer class="footer-area section_gap">
	
    <div class="bot2-wrapper">
        <div class="container">
            <div class="bot2 clearfix">

                <div class="row">
                    <div class="col-md-4">
                        <div class="bot2-title">About Us</div>
                        <div class="recent-post clearfix">
                            <a href="#">
                                {% comment %} <figure><img src="{{hotels.logo.url}}" alt="" class="img-fluid"></figure> {% endcomment %}
                                <div class="caption">
                                    <div class="txt1">{{hotels.description}}</div>
                                </div>
                            </a>
                        </div>
                       
                    </div>
                    <div class="col-md-4">
                        <div class="bot2-title">Contact Info</div>
                        <div class="contact1">
                            <b>Address:</b>  {{contact_info.address}}
                        </div>
                        <div class="contact1">
                            <b>Phone:</b> {{hotels.phone_number1}}
                        </div>
                        <div class="contact1">
                            <b>Phone:</b> {{hotels.phone_number2}}
                        </div>
                        <div class="contact1">
                            <b>Email:</b> <a href="#">{{contact_info.email}}</a>
                        </div>
                    </div>
                   
                    <div class="col-md-4">
                        <div class="social2-wrapper">
                            <ul class="social2">
                                <li><a href="{{contact_info.facebook}}"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="{{contact_info.twitter}}"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="{{contact_info.instagram}}"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="{{contact_info.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="{{contact_info.youtube}}"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bot3-wrapper">
        <div class="container">
            <div class="bot3 clearfix">
                <div class="copyrights">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by <a href="#" target="_blank">Smart-up technology</a>
                
                </div>

            </div>
        </div>
    </div>
		
</footer>