{%load static %}
<div class="top-wrapper top-wrapper-dark">
    <div class="top-inner">
        <div class="top1-wrapper">
            <div class="container">
                <div class="top1 clearfix">
                    
                
                    <a href="#" class="search-btn search-open"><i class="fa fa-search"></i></a>
                    <div class="social-wrapper">
                        <ul class="social">
                            <li><a href="{{contact_info.facebook}}"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="{{contact_info.twitter}}"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="{{contact_info.instagram}}"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="{{contact_info.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="{{contact_info.youtube}}"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="top2-wrapper">
            <div class="container">
                <div class="top2 clearfix">
                    <header>
                        <div class="logo_wrapper">
                            <a href="index.html" class="logo">
                                <img src="{{hotels.logo.url}}" alt="" class="img-fluid">
                            </a>
                        </div>
                    </header>
                    <nav class="navbar_ navbar navbar-expand-md clearfix">

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                            <ul class="nav navbar-nav sf-menu clearfix">
                                <li class="nav-item sub-menu sub-menu-2">
                                    <a href="{% url 'hotel:index' %}" class="active nav-link">Home 
                                    
                                </li>
                                <li class="nav-item"><a href="{% url 'hotel:accomodation' %}" class="nav-link">Our Rooms</a></li>
                                <li class="nav-item"><a href="{% url 'hotel:about_us' %}" class="nav-link">Services</a></li>
                                <li class="nav-item"><a href="{% url 'hotel:gallery' %}" class="nav-link">Gallery</a></li>
                                <li class="nav-item"><a href="{% url 'hotel:attraction' %}" class="nav-link">Attraction</a></li>
                                <li class="nav-item"><a href="{% url 'hotel:about_us' %}" class="nav-link">About us</a></li>
                                <li class="nav-item"><a href="{% url 'hotel:contact_us' %}" class="nav-link">Contact Us</a></li>
                                <li class="nav-item"><a href="{% url 'hotel:book' %}" class="nav-link">Book</a></li>
                               
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

