{% extends "base.html" %} {%load static %} 
{% block banner %} 
{% include "banner.html" %}
{% endblock banner %} 

{% block content %} 
<div id="about">
    <div class="container">

        <div class="title1">ABOUT US</div>

        <div class="title2">This About  Dawud </div>

        <div class="about-slider-wrapper clearfix">
            <div class="about-slider-left">
                <figure class="about-slider-thumb">
                    <img src="{% static 'images/about00.jpg' %}" alt="" class="img-fluid">
                </figure>

                <div class="slider-for">
                   {% for about_us in about_us  %}
                    <div class="slider-item">
                        <img src="{{about_us.image.url}}" alt="" class="img-fluid">
                    </div>
                    {%endfor%}
                </div>
            </div>
            <div class="about-slider-right">
                <div class="slider-nav">
                    {% for about_us in about_us  %}
                    <div class="slider-item">
                        <div class="txt1">
                           {{about_us.title}}
                        </div>
                        <div class="txt2">
                            <p>
                                {{about_us.content}}
                            </p>
                            
                        </div> 
                    </div>
                    {%endfor%}
                  
                </div>
            </div>
        </div>

    </div>
</div>
<div id="rooms">
    <div class="container">

        <div class="title1">OUR ROOMS</div>

        <div class="title2">Lorem ipsum dolor sit amet concateur non troppo di saronno la prada</div>

        <div class="row">
            {% for room in accommodations %}
            <div class="col-lg-4">
                <div class="room-wrapper">
                    <div class="room-inner">
                        <div class="room">
                            <figure>
                                <img src="{% static 'images/room04.jpg' %}" alt="" class="img-fluid">
                                <figcaption>
                                    <div class="txt1">GRAND DELVATORE</div>
                                    <div class="txt2">START FROM $450.00</div>
                                </figcaption>
                            </figure>
                            <div class="caption">
                                <div class="txt1">Grand Delux Room</div>
                                <div class="txt2">
                                    39 REVEW
                                    <div class="small-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="txt3">
                                    Lorem ipsum dolor sit amet, con cateur non troppo di sarono. El brave al mundo.
                                </div>
                                <div class="txt4">
                                    <a href="details.html">VIEW DETAIL<i class="fa fa-caret-right"
                                                                         aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="select-txt">
                                <a href="details.html"><span>SELECT THIS ROOM<i class="fa fa-angle-right"
                                                                                aria-hidden="true"></i></span></a>
                            </div>
                            <div class="room-icons">
                                <div class="room-ic room-ic-wifi">
                                    <i class="fa fa-wifi" aria-hidden="true"></i>
                                    <div class="txt1">FREE WIFI</div>
                                </div>
                                <div class="room-ic room-ic-person">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <div class="txt1">MAX<br>PERSON</div>
                                </div>
                                <div class="room-ic room-ic-breakfast">
                                    <i class="fa fa-coffee" aria-hidden="true"></i>
                                    <div class="txt1">BREAKFAST<br>INCLUDED</div>
                                </div>
                                <div class="room-ic room-ic-left">
                                    <div class="txt0">4</div>
                                    <div class="txt1">ROOMS LEFT</div>
                                </div>
                                <div class="room-ic room-ic-refund">
                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                    <div class="txt1">NO REFUND</div>
                                </div>
                                <div class="room-price">
                                    <div class="txt1">$<span>450</span></div>
                                    <div class="txt2">PER NIGHT</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
            <div class="col-lg-4">
                <div class="room-wrapper">
                    <div class="room-inner">
                        <div class="room">
                            <figure>
                                <img src="{% static 'images/room05.jpg' %}" alt="" class="img-fluid">
                                <figcaption>
                                    <div class="txt1">KING DELVATORE</div>
                                    <div class="txt2">START FROM $315.00</div>
                                </figcaption>
                            </figure>
                            <div class="caption">
                                <div class="txt1">King Delux Room</div>
                                <div class="txt2">
                                    39 REVEW
                                    <div class="small-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="txt3">
                                    Lorem ipsum dolor sit amet, con cateur non troppo di sarono. El brave al mundo.
                                </div>
                                <div class="txt4">
                                    <a href="details.html">VIEW DETAIL<i class="fa fa-caret-right"
                                                                         aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="select-txt">
                                <a href="details.html"><span>SELECT THIS ROOM<i class="fa fa-angle-right"
                                                                                aria-hidden="true"></i></span></a>
                            </div>
                            <div class="room-icons">
                                <div class="room-ic room-ic-wifi">
                                    <i class="fa fa-wifi" aria-hidden="true"></i>
                                    <div class="txt1">FREE WIFI</div>
                                </div>
                                <div class="room-ic room-ic-person">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <div class="txt1">MAX<br>PERSON</div>
                                </div>
                                <div class="room-ic room-ic-breakfast">
                                    <i class="fa fa-coffee" aria-hidden="true"></i>
                                    <div class="txt1">BREAKFAST<br>INCLUDED</div>
                                </div>
                                <div class="room-ic room-ic-left">
                                    <div class="txt0">4</div>
                                    <div class="txt1">ROOMS LEFT</div>
                                </div>
                                <div class="room-price">
                                    <div class="txt1">$<span>315</span></div>
                                    <div class="txt2">PER NIGHT</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="room-wrapper">
                    <div class="room-inner">
                        <div class="room">
                            <figure>
                                <img src="{% static 'images/room06.jpg' %}" alt="" class="img-fluid">
                                <figcaption>
                                    <div class="txt1">CLASSIC DELVATORE</div>
                                    <div class="txt2">START FROM $115.00</div>
                                </figcaption>
                            </figure>
                            <div class="caption">
                                <div class="txt1">Classic Room</div>
                                <div class="txt2">
                                    87 REVEW
                                    <div class="small-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="txt3">
                                    Lorem ipsum dolor sit amet, con cateur non troppo di sarono. El brave al mundo.
                                </div>
                                <div class="txt4">
                                    <a href="details.html">VIEW DETAIL<i class="fa fa-caret-right"
                                                                         aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="select-txt">
                                <a href="details.html"><span>SELECT THIS ROOM<i class="fa fa-angle-right"
                                                                                aria-hidden="true"></i></span></a>
                            </div>
                            <div class="room-icons">
                                <div class="room-ic room-ic-wifi">
                                    <i class="fa fa-wifi" aria-hidden="true"></i>
                                    <div class="txt1">FREE WIFI</div>
                                </div>
                                <div class="room-ic room-ic-person">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <div class="txt1">MAX<br>PERSON</div>
                                </div>
                                <div class="room-ic room-ic-refund">
                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                    <div class="txt1">NO REFUND</div>
                                </div>
                                <div class="room-ic room-ic-left">
                                    <div class="txt0">4</div>
                                    <div class="txt1">ROOMS LEFT</div>
                                </div>
                                <div class="room-ic room-ic-discount">
                                    <div class="txt0">0<span>%</span></div>
                                    <div class="txt1">DISCOUNT</div>
                                </div>
                                <div class="room-price">
                                    <div class="txt1">$<span>115</span></div>
                                    <div class="txt2">PER NIGHT</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<div id="best-places">
    <div class="container">

        <div class="title1">BEST PLACES AROUND THE DELVATORE</div>
        <div class="title2">FIND YOUR PLACE</div>

        <div class="owl-carousel owl-carousel-wide">
            <div class="item">
                <div class="place-wrapper">
                    <div class="place-inner">
                        <div class="place clearfix">
                            <div class="caption">
                                <div class="txt1">BEST PLACE GALLERY</div>
                                <div class="text-block1">
                                    <div class="text-block1-inner">
                                        <div class="txt2">Aqua Park</div>
                                        <div class="txt3"><i class="fa fa-map-marker" aria-hidden="true"></i> 123
                                            GRIDGUM PARK, SAN DIEGO UNITED STATES
                                        </div>
                                    </div>
                                </div>
                                <div class="txt4">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed the diam nonummy
                                    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
                                    consectetuer adipiscing elitsed the diam nonummy nibh euismod tincidunt.
                                </div>
                                <div class="txt5">
                                    <div class="rest1 clearfix">
                                        <figure><img src="{% static 'images/ic1.png' %}" alt="" class="img-fluid"></figure>
                                        <div class="rest1-caption">
                                            <div class="rest1-txt1">Sauna</div>
                                            <div class="rest1-txt2">INCLUDES</div>
                                        </div>
                                    </div>
                                    <div class="rest1 clearfix">
                                        <figure><img src="{% static 'images/ic2.png' %}" alt="" class="img-fluid"></figure>
                                        <div class="rest1-caption">
                                            <div class="rest1-txt1">SPA</div>
                                            <div class="rest1-txt2">INCLUDES</div>
                                        </div>
                                    </div>
                                    <div class="rest1 clearfix">
                                        <figure><img src="{% static 'images/ic3.png' %}" alt="" class="img-fluid"></figure>
                                        <div class="rest1-caption">
                                            <div class="rest1-txt1">Free</div>
                                            <div class="rest1-txt2">Massage</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <figure class="figure">
                                <img src="{% static 'images/place01.jpg' %}" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="place-wrapper">
                    <div class="place-inner">
                        <div class="place clearfix">
                            <div class="caption">
                                <div class="txt1">BEST PLACE GALLERY</div>
                                <div class="text-block1">
                                    <div class="text-block1-inner">
                                        <div class="txt2">Palm Beach</div>
                                        <div class="txt3"><i class="fa fa-map-marker" aria-hidden="true"></i> 123
                                            GRIDGUM PARK, SAN DIEGO UNITED STATES
                                        </div>
                                    </div>
                                </div>
                                <div class="txt4">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed the diam nonummy
                                    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
                                    consectetuer adipiscing elitsed the diam nonummy nibh euismod tincidunt.
                                </div>
                                <div class="txt5">
                                    <div class="rest1 clearfix">
                                        <figure><img src="{% static 'images/ic1.png' %}" alt="" class="img-fluid"></figure>
                                        <div class="rest1-caption">
                                            <div class="rest1-txt1">Sauna</div>
                                            <div class="rest1-txt2">INCLUDES</div>
                                        </div>
                                    </div>
                                    <div class="rest1 clearfix">
                                        <figure><img src="{% static 'images/ic2.png' %}" alt="" class="img-fluid"></figure>
                                        <div class="rest1-caption">
                                            <div class="rest1-txt1">SPA</div>
                                            <div class="rest1-txt2">INCLUDES</div>
                                        </div>
                                    </div>
                                    <div class="rest1 clearfix">
                                        <figure><img src="{% static 'images/ic3.png' %}" alt="" class="img-fluid"></figure>
                                        <div class="rest1-caption">
                                            <div class="rest1-txt1">Free</div>
                                            <div class="rest1-txt2">Massage</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <figure class="figure">
                                <img src="{% static 'images/place02.jpg' %}" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="place-wrapper">
                    <div class="place-inner">
                        <div class="place clearfix">
                            <div class="caption">
                                <div class="txt1">BEST PLACE GALLERY</div>
                                <div class="text-block1">
                                    <div class="text-block1-inner">
                                        <div class="txt2">Casino</div>
                                        <div class="txt3"><i class="fa fa-map-marker" aria-hidden="true"></i> 123
                                            GRIDGUM PARK, SAN DIEGO UNITED STATES
                                        </div>
                                    </div>
                                </div>
                                <div class="txt4">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed the diam nonummy
                                    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
                                    consectetuer adipiscing elitsed the diam nonummy nibh euismod tincidunt.
                                </div>
                                <div class="txt5">
                                    <div class="rest1 clearfix">
                                        <figure><img src="{% static 'images/ic1.png' %}" alt="" class="img-fluid"></figure>
                                        <div class="rest1-caption">
                                            <div class="rest1-txt1">Sauna</div>
                                            <div class="rest1-txt2">INCLUDES</div>
                                        </div>
                                    </div>
                                    <div class="rest1 clearfix">
                                        <figure><img src="{% static 'images/ic2.png' %}" alt="" class="img-fluid"></figure>
                                        <div class="rest1-caption">
                                            <div class="rest1-txt1">SPA</div>
                                            <div class="rest1-txt2">INCLUDES</div>
                                        </div>
                                    </div>
                                    <div class="rest1 clearfix">
                                        <figure><img src="{% static 'images/ic3.png' %}" alt="" class="img-fluid"></figure>
                                        <div class="rest1-caption">
                                            <div class="rest1-txt1">Free</div>
                                            <div class="rest1-txt2">Massage</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <figure class="figure">
                                <img src="{% static 'images/place03.jpg' %}" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
<div id="what-client-say">
    <div class="container">

        <div class="title1">WHAT CLIENT SAY</div>

        <div class="title2">Lorem ipsum dolor sit amet concateur non troppo di saronno la prada</div>

        <div class="owl-carousel owl-carousel-testimonials">
            <div class="item">
                <div class="testimonial-wrapper">
                    <div class="testimonial-inner">
                        <div class="testimonial clearfix">
                            <div class="testimonial-caption">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper, purus
                                et iaculis bibendum, felis justo vestibulum velit, ut bibendum ante urna vitae mi."
                            </div>
                            <div class="author clearfix">
                                <figure><img src="{% static 'images/client01.jpg' %}" alt="" class="img-fluid"></figure>
                                <div class="caption">
                                    <div class="txt1">Nina Chambers</div>
                                    <div class="txt2">Web Developer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-wrapper">
                    <div class="testimonial-inner">
                        <div class="testimonial clearfix">
                            <div class="testimonial-caption">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper, purus
                                et iaculis bibendum, felis justo vestibulum velit, ut bibendum ante urna vitae mi."
                            </div>
                            <div class="author clearfix">
                                <figure><img src="{% static 'images/client02.jpg' %}" alt="" class="img-fluid"></figure>
                                <div class="caption">
                                    <div class="txt1">Jeremy Carlson</div>
                                    <div class="txt2">Web Developer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-wrapper">
                    <div class="testimonial-inner">
                        <div class="testimonial clearfix">
                            <div class="testimonial-caption">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper, purus
                                et iaculis bibendum, felis justo vestibulum velit, ut bibendum ante urna vitae mi."
                            </div>
                            <div class="author clearfix">
                                <figure><img src="{% static 'images/client03.jpg' %}" alt="" class="img-fluid"></figure>
                                <div class="caption">
                                    <div class="txt1">Josie Howell</div>
                                    <div class="txt2">Web Developer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="testimonial-wrapper">
                    <div class="testimonial-inner">
                        <div class="testimonial clearfix">
                            <div class="testimonial-caption">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper, purus
                                et iaculis bibendum, felis justo vestibulum velit, ut bibendum ante urna vitae mi."
                            </div>
                            <div class="author clearfix">
                                <figure><img src="{% static 'images/client01.jpg' %}" alt="" class="img-fluid"></figure>
                                <div class="caption">
                                    <div class="txt1">Nina Chambers</div>
                                    <div class="txt2">Web Developer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-wrapper">
                    <div class="testimonial-inner">
                        <div class="testimonial clearfix">
                            <div class="testimonial-caption">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper, purus
                                et iaculis bibendum, felis justo vestibulum velit, ut bibendum ante urna vitae mi."
                            </div>
                            <div class="author clearfix">
                                <figure><img src="{% static 'images/client02.jpg' %}" alt="" class="img-fluid"></figure>
                                <div class="caption">
                                    <div class="txt1">Jeremy Carlson</div>
                                    <div class="txt2">Web Developer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-wrapper">
                    <div class="testimonial-inner">
                        <div class="testimonial clearfix">
                            <div class="testimonial-caption">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper, purus
                                et iaculis bibendum, felis justo vestibulum velit, ut bibendum ante urna vitae mi."
                            </div>
                            <div class="author clearfix">
                                <figure><img src="{% static 'images/client03.jpg' %}" alt="" class="img-fluid"></figure>
                                <div class="caption">
                                    <div class="txt1">Josie Howell</div>
                                    <div class="txt2">Web Developer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
<div id="latest-news">
    <div class="container">

        <div class="title1">LATEST NEWS</div>
        <div class="title2">Lorem ipsum dolor sit amet concateur non troppo di saronno la prada</div>

        <div class="row">
            <div class="col-md-6">
                <div class="latest-news-wrapper">
                    <div class="latest-news-inner">
                        <div class="latest-news clearfix">
                            <figure><img src="{% static 'images/news01.jpg' %}" alt="" class="img-fluid"></figure>
                            <div class="caption">
                                <div class="txt1"><a href="post.html">Hotel Delvatore's Events</a></div>
                                <div class="txt2">Lorem ipsum dolor sit amet consetuer adipiscing elit, sed diam
                                    nonummy.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="latest-news-wrapper">
                    <div class="latest-news-inner">
                        <div class="latest-news clearfix">
                            <figure><img src="{% static 'images/news02.jpg' %}" alt="" class="img-fluid"></figure>
                            <div class="caption">
                                <div class="txt1"><a href="post.html">Delvatore’s new services</a></div>
                                <div class="txt2">Lorem ipsum dolor sit amet consetuer adipiscing elit, sed diam
                                    nonummy.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
        
{% endblock %}
